<footer class = "footer text-white text-center bg-dark py-3 mt-auto" >
    <div class="container" >
        <span class="text"> &copy; WildVentures 2023   &diams;   Made By Vijayvenkatajalapathi G</span>
    </div>
</footer>
